@model ForgetPasswordViewModel

@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />
    <h2>Şifre Sıfırlama Sayfası</h2>
    <form method="post">
        <label>Email Adresinizi Grini</label>
        <input type="text" asp-for="Email" class="form-control" />
        <br />
        <button class="btn btn-primary">Şifre Sıfırla</button>
    </form>
</div>