@model ResetPasswordViewModel

@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />
    <h2>Şifre Sıfırlama Sayfası</h2>
    <form method="post">

        <input type="hidden" asp-for="UserId" />
        <input type="hidden" asp-for="Token" />
        
        <label>Şifrenizi Girin</label>
        <input type="password" asp-for="Password" class="form-control" />
        <br />
        
        <label>Şifrenizi Tekrar Girin</label>
        <input type="password" asp-for="PasswordConfirm" class="form-control" />
        <br />
        
        <button class="btn btn-success">Şifre Sıfırla</button>
    </form>
</div>