<!doctype html>
<html class="no-js" lang="">

@await Component.InvokeAsync("LayoutHead")

<body>

    @await Component.InvokeAsync("LayoutHeader")
    @await Component.InvokeAsync("LayoutMobileMenu")
    @await Component.InvokeAsync("LayoutMainMenu")

    @if (!(ViewData["HideBreadComb"] as bool? ?? false))
    {
        @await Component.InvokeAsync("LayoutBreadComb")
    }

    @RenderBody()

    @await Component.InvokeAsync("LayoutFooter")
    @await Component.InvokeAsync("LayoutScripts")
    @RenderSection("Scripts", required: false)
</body>

</html>